extends layout

block content
  h1= title
  p Progress Notes

  div
    h2 Objective
    p This is an&nbsp;
      span
        a(href="https://expressjs.com" title="express homepage")
        span <em>Express</em>
      span &nbsp;scaffolding project for developers.  Starting with the default _Express_ scaffolding, _Node_ modules were added to enable

    ul
      li live-browser-Sync &mdash; content auto-refresh in browser whenever changes are made in the front-end; and
      li live-reload &mdash; auto-reload server whenever changes are made in the back-end codes.
    p The setup basically:
    ul
      li scaffolds with a default <em>Express</em> web-app project,
      li adds browser refresh on change using <code>livereload</code>,
      li adds server retart on change using <code>nodemon</code>, and
      li adds <code>connect-livereload</code> to enable browser (one or more clients) to poll over a second connection so as for listen on signal from server to refresh.

    p These setup steps were originally given in the awesome&nbsp;
      span
        a(href="https://bytearcher.com/articles/refresh-changes-browser-express-livereload-nodemon/" title="Blog on Refresh browser on front and backend changes") Blog
        span &nbsp;by Panu Pitkamaki and his crystal-clear&nbsp;
        a(href="https://www.youtube.com/watch?v=P4RWMZA4yJo" title="Youtube video demo on setup") Walk-through
        span &nbsp;on Youtube.

    p Let the magic begin already.

  div
    h2 Status
    p The scaffolding is ready to be used.
    p The&nbsp;
      span
        a(href="/steps" title="Step-by-Step Instructions") Step-by-Step
        span &nbsp;page with detailed instructions on how to create this scaffolding is also available within the scaffolding.

  div
    h2 Step-by-Step Guide
    p Take me to the&nbsp;
      a(href="/steps" title="Live-reload step-by-step guide") page
      span .

  div &nbsp;

  hr
  div
    h2 Issues
    p None &check;
  center
    i ~ fin ~