block my-footer
div
  hr
  p &copy; 2021 September Rainbow
  p <a href="https://bytearcher.com/articles/refresh-changes-browser-express-livereload-nodemon/">Auto refresh browser for front-end and back-end developing</a>