extends layout

block content
  h1= title
  h2 Step-by-Step Setup

  ul
    li Install the&nbsp;
      span
        a(href="https://expressjs.com/en/starter/generator.html") Express-Generator
        span .

      div
        p <code>yarn global add express-generator</code>

    li Create a default&nbsp;
      span
        a(href="https://expressjs.com") Express
        span &nbsp;project, from the parent folder,

      pre
        code.
          express --git live-dev
          cd live-dev

      p or

      pre
        code.
          mkdir live-dev
          cd live-dev
          express -f --git

      div Output:
      pre
        code.
          $ express -f --git
          &nbsp;
          warning: the default view engine will not be jade in future releases
          warning: use `--view=jade' or `--help' for additional options


          create : public/
          create : public/javascripts/
          create : public/images/
          create : public/stylesheets/
          create : public/stylesheets/style.css
          create : routes/
          create : routes/index.js
          create : routes/users.js
          create : views/
          create : views/error.jade
          create : views/index.jade
          create : views/layout.jade
          create : .gitignore
          create : app.js
          create : package.json
          create : bin/
          create : bin/www

          install dependencies:
            $ npm install

          run the app:
            $ DEBUG=live-dev:* npm start
      p <strong>Note</strong>: By defaut, <em>Express 4.x</em> uses <em>Jade</em> as the template engine. <em>Pug</em> is now the new <em>Jade</em> and is also  is backward compatible with <em>Jade</em>.

    li Create an initial <em>Git</em>

      pre
        code.
          $ git init
          $ git add .
          $ git commit -m "Default express scaffold"
          [master (root-commit) b7a5580] Fresh express scaffold
          10 files changed, 252 insertions(+)
          create mode 100644 .gitignore
          create mode 100644 app.js
          create mode 100755 bin/www
          create mode 100644 package.json
          create mode 100644 public/stylesheets/style.css
          create mode 100644 routes/index.js
          create mode 100644 routes/users.js
          create mode 100644 views/error.jade
          create mode 100644 views/index.jade
          create mode 100644 views/layout.jade

    li Create a file named <code>.gitignore</code> and add any files or folders which should not be tracked by <em>Git</em>.  Some of these are listed as an example:

      pre
        code.
          node_modules/
          *.log
          npm-debug.log*
          yarn-debug.log*
          yarn-error.log*
          yarn.lock
          .env

      p And update these additions to the repository,

      pre
        code.
          $ git add .
          $ git commit -m "Update .gitignore"

    li For this project, <code>yarn</code> will be used to install the necessary <em>Node</em> modules ("dependencies" and "devDependencies" in <code>package.json</code>),
      pre
        code.
          $ yarn install
          yarn install v1.22.11
          info No lockfile found.
          [1/4] Resolving packages...
          warning jade@1.11.0: Jade has been renamed to pug, please install the latest version of pug instead of jade
          warning jade > constantinople@3.0.2: Please update to at least constantinople 3.1.1
          warning jade > transformers@2.1.0: Deprecated, use jstransformer
          [2/4] Fetching packages...
          [3/4] Linking dependencies...
          [4/4] Building fresh packages...
          success Saved lockfile.
          Done in 11.11s.
          &nbsp;

      p The warnings can be ignored.  To test, run <code>yarn start</code> in the console, then point your browser to&nbsp;
        a(href="http://localhost:3000")<code>http://localhost:3000/</code>
        span .

    li <code>nodemon</code> is used auto-restart the <em>Express</em> server.  It can be installed as a global module.
      pre
        code yarn global add nodemon

      p And to use it, we create a new script in <code>package.json</code>.  Edit the <em>script</em> section to look like so,

      pre
        code.
          &vellip;
          "scripts": {
              "start": "node ./bin/www",
              "watch": "DEBUG=live-dev:* PORT=3000 nodemon -V --ext js,json,jade,pug --watch 'views/' -w 'routes/' -w './' --ignore public/ -i draft/ ./bin/www"
          },
          &vellip;

      p To test, stop the running server with <code>Crtl+C</code> and issue a new command, <code>yarn watch</code>, then point your browser to&nbsp;
        a(href="http://localhost:3000/")<code>http://localhost:3000/</code>
        span .  Change some code in the back-end to see the auto-restart in action.  For example, hit save in `package.json` to trigger a restart.
      p <strong>Note</strong>: Manually refreshing (F5) is still needed in the browser.

      p Stop the running server (<code>Ctrl+C</code>) before moving on.

    li Add modules for browser live-sync (auto-refresh) for front-end changes.
      pre
        code yarn add livereload connect-livereload --dev

    li Setup <code>livereload</code> in <code>app.js</code>.
      pre
        code.
          var createError = require('http-errors');
          var express = require('express');
          var path = require('path');
          var cookieParser = require('cookie-parser');
          var logger = require('morgan');

          // Add from here vvv
          // 2021Sep23
          // Use livereload module to start another server to notify browser on front-end changes.
          // Use connect-livereload lib to add scripts to every front-end pages to poll livereload server.
          // Allow browser to refresh on changes to front-end assets.
          // [https://bytearcher.com/articles/refresh-changes-browser-express-livereload-nodemon/]
          var livereload = require('livereload');
          var connectLivereload = require('connect-livereload');

          const publicDir = path.join(__dirname, 'public');

          var liveReloadServer = livereload.createServer();
          liveReloadServer.watch(publicDir);

          // Next line is required to trigger when dynamic pages are changed.
          // Simply do liveReloadServer.refresh("/"); won't work because
          // the server is also being reloaded on change and will not be
          // ready to serve anything.
          //
          // Solution: Ask client to
          // a) listen for event "connection"
          // b) wait 100 ms.
          // c) Do this ONCE on every server starts.
          //
          liveReloadServer.server.once("connection", () => {
          setTimeout(() => {
              liveReloadServer.refresh("/");
          }, 100);
          });

          var indexRouter = require('./routes/index');
          var usersRouter = require('./routes/users');

          var app = express();

          // 2021Sep23
          // Make app aware of (calls) the connectLivereload() service.
          app.use(connectLivereload());

          &vellip;

    li Scaffolding is now ready.  Now the browser will automatically refresh pages watched by <code>livereload</code> after changes are made in those pages.

  br

  hr

  center
    i ~ fin ~
