body {
  background-color: #110;
  color: #B0E7F0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  letter-spacing: 0.06em;
  padding: 50px;
}

a {
  color: #C0F7F0;
}

p {
  color: #B0E7F0;
  /* line-height: 1.5em; */
}

h1, h2 {
  color: #ffa600;
}

pre {
  background-color: #100;
  border: solid 1px #662;
  padding: 1em;
  overflow-x: auto;
}

code {
  background-color: #100;
  color: #c7b5dc;

}
p > code, li > code, a > code {
  margin-left: .4em;
  margin-right: .4em;
  padding-left: .4em;
  padding-right: .4em;
}